body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 20px;
}

.container {
  height: 80vw;
  width: 80vw;
  background-color: aquamarine;  
}

.buttons {
  background-color: red;
  width: 80vw;
  height: 30px;
  display: flex;      
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#clear {
  flex: 1;  
}

#grid-size {
  width: 60vw;
}

.input{
  /* flex-basis: 80%; */
  /* flex-shrink: 1;   */
}