body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 20px;

  box-sizing: border-box;
}

.container {
  height: 80vw;
  width: 80vw;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  /* justify-content: stretch; */
  /* align-items: stretch; */
}

.row {           
  flex: 1;
  display: flex;
  flex-direction: row;
}

.cell {
  border: 1px solid;
  margin: -0.5px;
  flex: 1;
}

.buttons {
  background-color: red;
  width: 80vw;
  height: 30px;
  display: flex;      
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#clear {
  flex: 1;  
}

#grid-size {
  width: 60vw;
}