body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 20px;

  box-sizing: border-box;
}

.container {
  height: 80vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.row {           
  flex: 1;
  display: flex;
  flex-direction: row;
}

.cell {
  border: 1px solid lightgray;
  margin: -0.5px;
  flex: 1;
}

.buttons {
  width: 80vw;
  height: 30px;
  display: flex;      
  flex-direction: row;
  gap: 20px;  
}

.input {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
}

#clear {
  flex: 1;  
}

#grid-size {
  flex: 1;  
}